# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VSCode (opsional, kalau ingin di-ignore)
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
android/app/build/
android/build/
assets/
# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Artifacts dan file besar
*.apk
*.ipa
*.aab
*.zip
*.tar.gz

# Git LFS (kalau digunakan)
*.bin filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text

.vscode/templates
